.sidebar {
  grid-area: sidebar;
  grid-template-areas: 
    "toolbar tool"
  ;
  display: grid;
  grid-template-columns: 40px 1fr;
}

.toolbar {
  grid-area: toolbar;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.toolbar > div > * + * {
  margin-top: 4px;
}

.toolbar svg {
  color: var(--text);
}

.tool {
  grid-area: tool;
  padding: 0 0.5rem;
}
