.fileItem {
  user-select: none;
  list-style: none;
  padding-right: 0.5rem;
}

.fileItem, .fileItem > * {
  cursor: pointer;
}

.fileItem:hover {
  background-color: var(--hoverd-color) !important;
}

.labelButton {
  display: flex;
  gap: 4px;
  color: var(--text);
}
