.iconButton {
  position: relative;
}

.button {
  cursor: pointer;
  background: none;
  border: none;

  & + .label {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 100%;
    width: max-content;
  }

  &:hover {
    & + .label {
      z-index: 999;
      transition-property: opacity;
      transition-delay: 1s;
      transition-duration: 0.3s;
      opacity: 1;
    }
  }
}

.button svg {
  height: 24px;
  color: var(--text);
  border-radius: 4px;
}

.button svg:hover {
  transition: background-color 0.3s;
  background-color: var(--hoverd-color);
}
