.directoryItem {
  user-select: none;
  list-style: none;
}


.directoryItem .labelContainer {
  display: flex;
  justify-content: space-between;
  padding: 0.05rem 0.5rem;
  cursor: pointer;
}

.directoryItem .labelContainer:hover {
  background-color: var(--hoverd-color) !important;
}

.directoryItem > .labelContainer:hover > .entryButtons {
  opacity: 1;
  pointer-events: auto;
}

.directoryItem .label {
  display: flex;
  align-items: center;
  gap: 2px;
}

.entryButtons {
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  gap: 2px;
}

.entryButton {
  width: 1rem;
  height: 1rem;
  color: var(--text);
  background: none;
  border: none;

  svg {
    width: 100%;
    height: 100%;
  }
}