.textInput {
  width: 100%;
  padding: 0 4px;
  border-radius: 2px;
  border: 1px solid var(--border);
  outline-width: 1px;
}

.textInput:focus {
  outline-style: solid;
  outline-width: 1px;
  outline-color: var(--secondary);
}