body[data-theme="light"] {
  --primary: #3609EC;
  --secondary: #2A159A;
  --text: #121212;
  --secondary-text: #76738F;
  --background: #F5F6F8;
  --white: #f5f6f8;
  --black: #121212;
  --shadow: rgba(179, 178, 185, 0.2);
  --menu-background: #EDEEF2;
  --modal: #EDEEF2;
  --border: #C8CBD9;
  --hoverd-color: #DBDDE6;
  --window: #EDEEF2;
  --text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.6);
}

body[data-theme="dark"] {
  --primary: #5F5DFF;
  --secondary: #8B95FF;
  --shadow: rgba(179, 178, 185, 0.2);
  --text: #DBDDE6;
  --secondary-text: #4F4F4F;
  --background: #121212;
  --menu-background: #3D3D3D;
  --modal: #222222;
  --border: #393939;
  --hoverd-color: #454545;
  --window: #222222;
  --ambient-window: rgba(34, 34, 34, 0.3);
  --text-shadow: 2px 2px 5px rgba(255, 255, 255, 0.8);
}

body {
  background-color: var(--background);
  color: var(--text);
  font-size: 15px;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
  /* text-shadow: var(--text-shadow); */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

svg {
  width: 20px;
  height: 20px;
}